*, *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  html {
    overflow-y: scroll;
  }
  
  body {
    background: #c1bdba;
    font-family: 'Titillium Web', sans-serif;
  }

.edit-text-button {
    display: block;
	position: relative;
} 

.edit-text-button::after {
	background-image: url('../../../pencil-icon.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 44px;
	content: ' ';
	height: 17px;
	opacity: 0.6;
    position: absolute;
    right: 15px;
	top: -6px;
    width: 20px;
    cursor: pointer;
}

.close-text-button {
    display: block;
	position: relative;
} 

.close-text-button:hover {
    opacity: 0.8;
} 

.close-text-button::after {
	background-image: url('../../../cross.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 44px; 
	content: ' ';
	height: 14px;
	opacity: 0.6;
    position: absolute;
    right: 9px;
	top: 10px;
    width: 14px;
    cursor: pointer;
}


/* .edit-text-button:hover, .edit-text-button:focus {
	color: black;
} */

  
  h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
  }

table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-child(even) {
    background-color: #1ab188;
}

tr:nth-child(odd) {
    background-color: #0da17a
}

tr:first-child {
    background-color: #08795b; 
}

th { 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  /* border: 1px solid #ccc;  */
  text-align: left; 
  color: white; 
}